* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(9, 18, 121);
  background: radial-gradient(
    circle,
    rgba(9, 18, 121, 1) 2%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );

  font-family: "Noto Sans", sans-serif;
  color: rgb(212, 212, 212);
}
